<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT flights ANY>
<!ATTLIST flights id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
]>
<root id="-1">
  <home id="1097" key="156f1933-e327-4dce-b665-110d62720d03" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-05-06T03:02:50" updateDate="2019-05-06T03:27:06" nodeName="Home" urlName="home" path="-1,1097" isDoc="" nodeType="1087" creatorName="Bill La" writerName="Bill La" writerID="0" template="1055" nodeTypeAlias="home" isPublished="true">
    <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "latestBlogposts",
                    "macroParamsDictionary": {
                      "numberOfPosts": "3",
                      "startNodeId": "umb://document/1cb33e0a400a49389547b05a35739b8b"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "cbb67dcf-dc82-700a-617f-84e754458e6a"
        }
      ]
    }
  ]
}]]></bodyText>
    <HeroBackgroundImage><![CDATA[umb://media/d2c28332e2fd4ce7bca136b9da338504]]></HeroBackgroundImage>
    <sitename><![CDATA[Century Airlines]]></sitename>
    <font>39</font>
    <colorTheme>36</colorTheme>
    <footerAddress><![CDATA[/]]></footerAddress>
    <FooterCtalink><![CDATA[umb://document/d62f0f1de4a9409394ae4efce18872ee]]></FooterCtalink>
    <heroDescription><![CDATA[Flight Booking System]]></heroDescription>
    <heroHeader><![CDATA[Century Airlines]]></heroHeader>
    <HeroCtalink><![CDATA[umb://document/485343b1d99c4789a676e9b4c98a38d4]]></HeroCtalink>
    <heroCTACaption><![CDATA[Manage Flights]]></heroCTACaption>
    <login id="1147" key="960f22a9-24fd-40f5-9035-e9eace03b7a5" parentID="1097" level="2" creatorID="0" sortOrder="0" createDate="2019-05-06T03:16:34" updateDate="2019-05-06T03:16:42" nodeName="Login" urlName="login" path="-1,1097,1147" isDoc="" nodeType="1146" creatorName="Bill La" writerName="Bill La" writerID="0" template="1145" nodeTypeAlias="login" isPublished="true" />
    <blog id="1116" key="1cb33e0a-400a-4938-9547-b05a35739b8b" parentID="1097" level="2" creatorID="0" sortOrder="3" createDate="2019-05-06T03:02:52" updateDate="2019-05-06T03:41:17" nodeName="Blog" urlName="blog" path="-1,1097,1116" isDoc="" nodeType="1089" creatorName="Bill La" writerName="Bill La" writerID="0" template="1051" nodeTypeAlias="blog" isPublished="true">
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      <pageTitle><![CDATA[Behind The Scenes]]></pageTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <keywords><![CDATA[[]]]></keywords>
      <howManyPostsShouldBeShown><![CDATA[2]]></howManyPostsShouldBeShown>
    </blog>
    <flights id="1151" key="d79de1e5-6bd5-4685-b7a4-d34ddc3d29fe" parentID="1097" level="2" creatorID="0" sortOrder="4" createDate="2019-05-06T04:08:20" updateDate="2019-05-06T04:08:20" nodeName="Flights" urlName="flights" path="-1,1097,1151" isDoc="" nodeType="1150" creatorName="Bill La" writerName="Bill La" writerID="0" template="1149" nodeTypeAlias="flights" isPublished="true" />
  </home>
</root>